.top {
    padding: 3em;
    text-align: center;
}

/* .top, .center, .bottom {
    float: left;
    height: 100px;
    width: 100px;
} */

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row {
    clear: both;
    margin: auto;
    width: 302px;
}