#board {
    padding: 3em;
    text-align: center;
}

/* all 9 cells */
.row > div {
    float: left;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 75px;
}

.row {
    clear: both;
    margin: auto;
    width: 302px;
}

.winner-row {
    clear: both;
    margin: auto;
    width: 602px;
    padding: 2rem;
}

.top {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.bottom {
    border-top: 1px solid black;
    cursor: pointer;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.center {
    cursor: pointer;
}

#displayTheWinner {
    clear: both;
    margin: auto;
    font-size: 40px;
}






