#board {
    padding: 3em;
    text-align: center;
}

/* all 9 cells */
.row > div {
    float: left;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

.row {
    clear: both;
    margin: auto;
    width: 302px;
}

.winner-row {
    clear: both;
    margin: auto;
    width: 602px;
    background-color: yellow; /* for testing only */
    border: tomato solid 1px; /* for testing only */
}

.top {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.bottom {
    border-top: 1px solid black;
    cursor: pointer;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.center {
    cursor: pointer;
}

#yourTurnX {
    color: #ff0000;
    float: left;
    border: 1px black solid;
    height: 100px;
    font-size: 40px;
}

#yourTurnY {
    color: #ff0000;
    float: right;
    border: 1px black solid;
    height: 100px;
    font-size: 40px;
}

#seperatorBetweenXAndY {
    clear: both;
    margin: auto;
    font-size: 40px;
}



